.WP {
    border: 5px;
    border-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 4px;
    color: white;
    background: #AEA;
    box-shadow: 10px 12px 0.5rem rgba(0,0,0,0.5);
}

#C1 {
    background-color: rgba(255, 0, 0, 0.719);
}
#C2 {
    background-color: rgba(255, 72, 0, 0.712);
}
#C3 {
    background-color: rgba(165, 126, 0, 0.712);
}
#C4 {
    background-color: rgba(77, 105, 0, 0.712);
}
#C5 {
    background-color: rgba(0, 88, 29, 0.712);
}
#C6 {
    background-color: rgba(0, 112, 84, 0.719);
}
#C7 {
    background-color: rgba(0, 102, 255, 0.719);
}
#C8 {
    background-color: rgba(17, 0, 255, 0.719);
}
#C9 {
    background-color: rgba(255, 0, 179, 0.705);
}
#C10 {
    background-color: rgba(255, 0, 170, 0.712);
}
#C11 {
    background-color: rgba(255, 0, 21, 0.712);
}
.C2a {
    border: 2px;
    border-radius: 5px;
    border-color: white;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    
}
#Ending {
    background-color: rgba(0, 139, 46, 0.719);
}
.score-bonus {
  position: absolute;
  color: green;
  font-weight: bold;
  font-size: 18px;
  animation: floatUp 1s ease-out forwards;
}

@keyframes floatUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

